*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb( rgb(142, 142, 212));
}

.header img{
    width: 100px;
    height: 60px;
}